{% extends "main.html" %}
{% block content %}
  {% load static %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'WebsiteApp/css/index.css' %}"/>
  <div class="mb-3">
    <form class="form-button" method="get">
      {% csrf_token %}
      {{ form_searchdate.as_p }}
      <input class="form-input" type="submit" value="Search"/>
    </form>
  </div>
</section>
<div class="report-heading">
  <h2 >
    <strong>Weekly Report</strong>
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <img src="" alt="Image1"/>
        </div>
        <div class="col">
          <img src="" alt="Image2"/>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="" alt="Image3"/>
          </div>
          <div class="col">
            <img src="" alt="Image4"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div align="center" class="footerLogos">
  <h3>Funders</h3>
  <div>
    <img src="{% static 'webpage_images/Sponsors.png' %}" alt="Sponsors"/>
  </div>
</div>
</section>
{% endblock content %}
