{% extends "weeklyreport_app/layouts/main.html" %}
{% block content %}
  {% load static %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'weeklyreport_app/css/index.css' %}"/>
  <div class="mb-3">
    <form class="form-button" method="get">
      {% csrf_token %}
      {{ form_searchdate.as_p }}
      <input class="form-input" type="submit" value="Chercher"/>
    </form>
  </div>
  <div class="report-heading">
    <h2 >
      <strong>Rapport Hebdomadaire</strong>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="container text-center">
        {% for object in query %}
          <h5 class="Report-Date"style="color: #e91C24">{{ object.title }}</h5>
          <div class="row">
            <div class="col">
              {% if object.img1_FR.url is not None %}
                <img width="500" height="380" src="{{ object.img1_FR.url }}" alt="Image1"/>
              {% endif %}
            </div>
            <div class="col">
              {% if object.img2_FR.url is not None %}
                <img width="500" height="380" src="{{ object.img2_FR.url }}" alt="Image2"/>
              {% endif %}
            </div>
          </div>
          <p></p>
          <p></p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                {% if object.img3_FR.url is not None %}
                  <img width="500"  height="380"src="{{ object.img3_FR.url }}" alt="Image3"/>
                {% endif %}
              </div>
              <div class="col">
                {% if object.img4_FR.url is not None %}
                  <img width="500"  height="380"src="{{ object.img4_FR.url }}" alt="Image4"/>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr/>
  <div align="center" class="footerLogos">
    <h3>Funders</h3>
    <div>
      <img src="{% static 'webpage_images/Sponsors.png' %}"/>
    </div>
  </div>
{% endblock content %}
