<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load l10n %}
<html lang="en">
    <head>
        <link rel="icon"
              href="{% static 'webpage_images/favicon.ico' %}"
              type="image/x-icon"/>
        <title>
            {% block title %}
                CICP-PCPOB
            {% endblock title %}
        </title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Main Website"/>
        <meta name="keywords" content="HTML, CSS, JavaScript"/>
        <meta name="author" content="Priyanka"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block styles %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
                  crossorigin="anonymous"/>
            <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
                  rel="Stylesheet"
                  type="text/css"/>
            <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% endblock styles %}
    </head>
    <body>
        <div>
            {% include "navbar.html" %}
            {% include "sidebar.html" %}
        </div>
        <span class="sidebar-toggle" onclick="openNav()">☰ Filters</span>
        <div id="heading" class="justify-content-center">
            {% if wednesday_date %}
                <h4>
                    <strong><center>{% trans "Weekly Survey Distributed -" %}{% blocktrans %} {{wednesday_date }}{% endblocktrans %}</center></strong>
                </h4>
            {% endif %}
            {% if friday_text_date %}
                <h4>
                    <strong><center>{% trans "Weekly Survey Published -" %} {% blocktrans %}{{friday_text_date }}{% endblocktrans %}</center></strong>
                </h4>
            {% endif %}
        </div>
        <main class="main-content">
            {% if info %}
                <div class="container">
                    <div id="infocard"
                         class="h-100 d-flex align-items-center justify-content-center">
                        <div class="card text-center">
                            <div class="card-header text-light">Alert!!</div>
                            <div class="card-body">
                                <p class="card-title ">
                                    <p class="card-text text-light">{{ info }}</p>
                                </p>
                                <a href="{% url 'report_results_EN' %}" class="btn text-light">Try Again</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if errors %}
                    <div class="container">
                        <div id="errorcard"
                             class="d-flex align-items-center justify-content-center h-100">
                            <div class="card text-center">
                                <div class="card-header text-light">Alert!!</div>
                                <div class="card-body">
                                    <p class="card-text text-light">
                                        {% for error in errors %}<p class="card-text">{{ error }}</p>{% endfor %}
                                    </p>
                                    <a href="{% url 'report_results_EN' %}" class="btn text-light">Try Again</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <section class="images">
                        <div class="row">
                            {% for image_url in image_filepaths %}
                                <div class="column">
                                    <img src={{ image_url }} alt="Image">
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            {% endif %}
        </main>
        {% block scripts %}
            <script src="https://kit.fontawesome.com/17431f7655.js"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script>
            {% comment %} DatePicker {% endcomment %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                    crossorigin="anonymous"></script>
            <script src="{% static 'js/datepicker.js' %}"></script>
            <script src="{% static 'js/navbar.js' %}"></script>
            <script src="{% static 'js/sidebar.js' %}"></script>
        {% endblock scripts %}
    </body>
</html>
