{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon"
              href="{% static 'webpage_images/favicon.ico' %}"
              type="image/x-icon"/>
        <title>
            {% block title %}
                CICP-PCPOB
            {% endblock title %}
        </title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Main Website"/>
        <meta name="keywords" content="HTML, CSS, JavaScript"/>
        <meta name="author" content="Priyanka"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block styles %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
                  crossorigin="anonymous"/>
            <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
                  rel="Stylesheet"
                  type="text/css"/>
            <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% endblock styles %}
    </head>
    <body>
        {% include "navbar.html" %}
        {% comment %} {% include "sidebar.html" %} {% endcomment %}
        <div class="heading">
            {% if wednesday_date %}
                <h6>
                    <strong>Weekly Survey Distributed on - {{ wednesday_date }}</strong>
                </h6>
            {% endif %}
            {% if friday_text_date %}
                <h6>
                    <strong>Weekly Report Published on - {{ friday_text_date }}</strong>
                </h6>
            {% endif %}
        </div>
        <main>
            {% if info %}
                <h2 >{{ info }}</h2>
            {% else %}
                {% if error %}
                    <h1 >{{ error }}</h1>
                {% else %}
                    <section class="images">
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                    <div class="card">
                                        <img src="{% static "webpage_images/pie.png" %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                    <div class="card">
                                        <img src="{% static "webpage_images/pie2.png" %}" alt="">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                        <div class="card">
                                            <img src="{% static "webpage_images/bar.png" %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
                                        <div class="card">
                                            <img src="{% static "webpage_images/barh.png" %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">One of three columns</div>
                    <div class="col-sm">One of three columns</div>
                    <div class="col-sm">One of three columns</div>
                </div>
            </div>
        </main>
        {% block scripts %}
            <script src="https://kit.fontawesome.com/17431f7655.js"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script>
            {% comment %} DatePicker {% endcomment %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                    crossorigin="anonymous"></script>
            <script src="{% static 'js/datepicker.js' %}"></script>
            <script src="{% static 'js/navbar.js' %}"></script>
        {% endblock scripts %}
    </body>
</html>
