<!DOCTYPE html>
{% load static %} {% load app_tags %} {% load i18n %} {% load l10n %}
<html lang="en">
    <head>
        <link rel="icon" href="{% static 'webpage_images/favicon.ico' %}" type="image/x-icon"/>
        <title>{% block title %} CICP-PCPOB {% endblock title %}</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Main Website"/>
        <meta name="keywords" content="HTML, CSS, JavaScript"/>
        <meta name="author" content="Priyanka"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block styles %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            <link rel="Stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"/>
        {% endblock styles %}
    </head>
    <body>
        <!-- <div class="row">
            <div class="col-sm-12 text-white">{% include "navbar.html" %}</div>
        </div> -->
        <header>
            {% include "navbar.html" %}
        </header>
        
        <div class="container-fluid">
        <div class="row">
            {%if filtered %}
            <nav id="sidebar1" class="col-md-3 d-none d-sm-none d-md-block sidebar collapse">
                <div class="filterbox">
                    <p id="filtertext">{% translate "FILTER THIS REPORT BY" %}</p>
                    <form method="get">
                        {% csrf_token %}                   
                            <div class="form-container">
                                {{province_form_filter.as_div}}
                                {% comment %} {{org_size_form_filter.as_div}} {% endcomment %}
                                {{age_form_filter.as_div}}
                                {{expenditure_form_filter.as_div}}
                                {{region_form_filter.as_div}}
                                {{subsample_form_filter.as_div}} 
                                {{human_resources_form_filter.as_div}}
                            </div>

                            <div id="secsearch">
                                <input class="form-input bg-red" type="submit" value="{% translate "Search" %}" onclick="checkFilters()"/>
                                <input class="bg-red" type="reset" value="{% translate "Reset" %}">
                            </div>

                        {% if reportDate %}                  
                            <input type="hidden" name="report_date" value={{reportDate}} />

                        {% elif questionTheme %}   
                            <input type="hidden" name="theme" value={{questionTheme}} />

                        {% endif %}
                    </form>
                </div>
            </nav>
            <!-- <span class="sidebar-toggle" onclick="openNav()">{% translate "☰ Filters" %}</span> -->
            
            <!-- OFFCANVAS START-->
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div id="sidebar2" class="sidebar">
                        <div class="filterbox">
                            <p id="filtertext">{% translate "FILTER THIS REPORT BY" %}</p>
                            <form method="get">
                                {% csrf_token %}                   
                                    <div class="form-container">
                                        {{province_form_filter.as_div}}
                                        {% comment %} {{org_size_form_filter.as_div}} {% endcomment %}
                                        {{age_form_filter.as_div}}
                                        {{expenditure_form_filter.as_div}}
                                        {{region_form_filter.as_div}}
                                        {{subsample_form_filter.as_div}}
                                        {{human_resources_form_filter.as_div}}
                                    </div>

                                    <div id="secsearch">
                                        <input class="form-input bg-red" type="submit" value="{% translate "Search" %}" onclick="checkFilters()"/>
                                        <input class="bg-red" type="reset" value="{% translate "Reset" %}">
                                    </div>

                                {% if reportDate %}                  
                                    <input type="hidden" name="report_date" value={{reportDate}} />

                                {% elif questionTheme %}   
                                    <input type="hidden" name="theme" value={{questionTheme}} />

                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OFFCANVAS END-->
            {% endif %}

            {%if filtered %}
            <main class="col-md-9 px-md-4">
            {% else %}
            <div class="col-md-2 px-md-4"></div>
            <main class="col-md-8 px-md-4">
            {% endif %}
                <!-- OFFCANVAS BUTTON -->
                {%if filtered %}
                <button class="btn d-md-none d-sm-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa fa-bars fa-border fa-2x" aria-hidden="true"></i></button>
                {% endif %}
                
                <div id="heading" class="">
                    {% if wednesday_date %}
                        <h4>
                            <strong><center>{% trans "Weekly Survey Distributed -" %} {% blocktrans with wednesday_date|template_trans as wednesday_date %}{{ wednesday_date }}{% endblocktrans %}</center></strong>
                        </h4>
                    {% endif %}
                    {% if friday_text_date %}
                        <h4>
                            <strong><center>{% trans "Weekly Survey Published -" %} {% blocktrans with friday_text_date|template_trans as friday_text_date %}{{ friday_text_date }}{% endblocktrans %}</center></strong>
                        </h4>
                    {% endif %}
                    {%if YearandWeek %}
                        <h5 id="datesubtheme">
                            <strong><center>{{ YearandWeek }}</center></strong>
                        </h5>
                    {% endif %}
                    {% if subTheme %} 
                        <h5 id="datesubtheme">
                            <strong><center>{% translate "Subtheme -" %} {% blocktrans %}{{ subTheme }}{% endblocktrans %}</center></strong>
                        </h5>
                    {% endif %}
                    {% if questionTheme %} 
                        <h4>
                            <strong><center>{% translate "Theme -" %}{{ questionTheme }}</center></strong>
                        </h4>
                    {% endif %}
                </div>
                <div class="selected-filters">
                        {% translate "Filters Selected:"%}
                        {% if locations %}
                        <strong>{% translate "Province:"%}</strong><i>{{locations}}</i>
                        {% endif %}
                        {%if orgSizes %}
                        <strong>{% translate "Age:"%}</strong><i>{{age}}</i>
                        {% endif %}
                        {% if expenditure %}
                        <strong>{% translate "Expenditure:"%}</strong><i>{{expenditure}}</i>
                        {% endif %}
                        {% if region %}
                        <strong>{% translate "Region:"%}</strong><i>{{region}}</i>
                        {% endif %}
                        {% if humanresources %}
                        <strong>{% translate "Human Resources:"%}</strong><i>{{humanresources}}</i>
                        {% endif %}
                        {% if subsample %}
                        <strong>{% translate "Subsample:"%}</strong><i>{{subsample}}</i>
                        {% endif %}
                </div>
                <!-- LOADER -->
                <div class="col-12 d-flex justify-content-center text-center"><div id="loader"></div></div>

                <div class="" id="main">
                    {% if info %}
                        <div class="container">
                            <div id="infocard" class="h-100 d-flex align-items-center justify-content-center">
                                <div class="card text-center">
                                    <div class="card-header text-light">{% translate "Alert!!" %}</div>
                                    <div class="card-body">
                                        <p class="card-title ">
                                            <p class="card-text text-light">{{ info }}</p>
                                        </p>
                                        <button onclick="history.back()" class="btn text-light">{% translate "Go back" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% if errors %}
                        <div class="container">
                            <div id="errorcard"
                                class="d-flex align-items-center justify-content-center h-100">
                                <div class="card text-center">
                                    <div class="card-header text-light">{% translate "Alert!!" %}</div>
                                    <div class="card-body">
                                        <p class="card-text text-light">
                                            {% for error in errors %}
                                                {% blocktrans with error|template_trans as error %}{{ error }}{% endblocktrans %}
                                            {% endfor %}
                                        </p>
                                        <button onclick="history.back()" class="btn text-light">{% translate "Go back" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% if  questionTheme%}
                        <div class="row">
                            
                            <div class="row">
                                <ul class="nav nav-tabs" id="themeTab" role="tablist">
                                    {% for subfolder in image_filepaths %}
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="{{ subfolder.fullname }}-tab" data-bs-toggle="tab" data-bs-target="#{{ subfolder.fullname }}" type="button" role="tab" aria-controls="{{ subfolder.fullname }}" aria-selected="false">{{ subfolder.fullname }}</button>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content" id="themeTabContent">
                                    <div class="col-sm-12 col-md-12"></div>
                                    {% for subfolder in image_filepaths %}
                                    
                                        <div class="tab-pane fade" id="{{ subfolder.fullname }}" role="tabpanel" aria-labelledby="{{ subfolder.fullname }}-tab">
                                            <div class="d-flex justify-content-center"><h5 id="weekheading">{{ subfolder.fullname }}</h5></div>
                                            <div class="d-flex justify-content-center"><h5 id="weekheading">Subtheme:{{ subfolder.subtheme }}</h5></div>
                                            {% for image_url in subfolder.images %}
                                            <div class="col-md-12">
                                                <div class="card border-dark mb-4 p-2">
                                                    <img src="{{ image_url }}" alt="Image">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            {% for image_url in image_filepaths %}
                                <div class="col-md-12">
                                    <div class="card border-dark mb-4 p-2">
                                        <img src="{{ image_url }}" alt="Image">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            {%if filtered %}
            </main>
            {% else %}
            <div class="col-md-2 px-md-4"></div>
            </main>
            {% endif %}
        </div>
        
        </div>
        {% block scripts %}
            <script src="https://kit.fontawesome.com/17431f7655.js" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
            <script src="{% url 'javascript-catalog' %}"></script>
            <script src="{% static 'js/datepicker.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="{% static 'js/navbar.js' %}"></script>
            <script src="{% static 'js/sidebar.js' %}"></script>
        {% endblock scripts %}
    </body>
</html>
