<!DOCTYPE html>
{% load static %} {% load i18n %} {% load l10n %}
<html lang="en">
  <head>
    <link
      rel="icon"
      href="{% static 'webpage_images/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>{% block title %} CICP-PCPOB {% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Main Website" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Priyanka" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lpage.css' %}" />
    {% endblock styles %} {{ form.media }}
  </head>
  <body>
    <div class="row">
      <div class="col-sm-12 text-white">{% include "navbar.html" %}</div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="heading-text" id="message">
          {% translate "FILTER REPORTS USING A DATE OR THEME" %}
        </div>
      </div>
    </div>

    <!-- LOADER -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center text-center mt-4">
        <div id="loader"></div>
      </div>
    </div>

    <div id="lmain" class="row">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-2 m-4"></div>

            <div class="col-md-12 col-lg-3 m-4">
              <div class="card text-center">
                <form
                  class="row"
                  id="dateForm"
                  name="myForm"
                  onsubmit="return validateDate()"
                  method="get"
                  action="{% url 'datereports' %}"
                  required
                >
                  <div class="col-12">
                    <div class="card-header bg-red">
                      <h5 class="card-title">
                        <b>{% translate "Select Report Date" %}</b>
                      </h5>
                    </div>
                  </div>

                  <div class="col-12 mt-10 mt-10 mb-10" id="selected-date">
                    {% csrf_token %}
                    <!-- <span class="input-group-text"><i class="fa fa-calendar fa-border" aria-hidden="true"></i></span> -->
                    {{dateFilter}}
                  </div>

                  <div class="col-12">
                    <div class="card-footer">
                      <input class="form-input" type="submit" value={% translate "Search" %} /> <input class="form-input" type="reset" value={% translate "Reset" %} />
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-12 col-lg-1 m-4"></div>

            <div class="col-md-12 col-lg-3 m-4">
              <div class="card">
                <form
                  class="row"
                  id="themeForm"
                  name="theme"
                  action="{% url 'themereports' %}"
                  method="get"
                  onsubmit="return validateDate()"
                  required
                >
                  <div class="col-12">
                    <div class="card-header bg-red">
                      <h5 class="card-title">
                        <b>{%translate "Select Weekly Theme"%}</b>
                      </h5>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="card-body mt-4 mb-4">
                      {% csrf_token %}
                      <div class="ml-lg-2">{{themeFilter.as_div}}</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="card-footer text-center">
                      <input class="form-input" type="submit" value={% translate "Search" %} /> <input class="form-input" type="reset" value={% translate "Reset" %} />
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-12 m-4"></div>
          </div>
        </div>
      </div>
    </div>

    {% block scripts %}
    <script
      src="https://kit.fontawesome.com/17431f7655.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/lpage.js' %}"></script>

    {% endblock scripts %}
  </body>
</html>
