{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg">
            <a class="navbar-brand" href="https://carleton.ca/cicp-pcpob/">
                <img src="https://cdn.carleton.ca/theme-framework/img/favicons/favicon.ico"
                     alt="Carleton Shield"
                     width="30"
                     height="30"
                     class="d-inline-block align-text-top"/>
                CICP-PCPOB
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active ">                        
                        <button class="btn active navbutton" type="button">
                            <a class="nav-link" aria-current="page" href="https://carleton.ca/cicp-pcpob/homepage/all-reports/">{% translate "Back to CICP Website" %}</a>
                        </button>       
                    </li>
                    <li class="nav-item active ">
                        <button class="btn active navbutton" type="button">
                        <a class="nav-link" aria-current="page" href="#">{% translate "Print Report" %}</a>
                        </button>  
                    </li>
                    <li class="nav-item active dropdown">
                        <button class="btn active navbutton" type="button">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {% translate "Language" %}
                        </a>
                        <ul class="dropdown-menu"           aria-labelledby="navbarDropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}
                                <li>
                                    <a class="dropdown-item" href="/{{ lang.code }}/">{{ lang.name_local|capfirst }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        </button> 
                    </li>
                </ul>
            </div>
        </nav>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
{% comment %} <li class="nav-item">
                    <button id="socialMedia" onClick="socialMediaFunction()">
                        {% comment %} <img src="{% static "webpage_images/social-media.png" %}" alt=""> 
                        Social Media
                    </button>
                    <div id="myDiv">SocialMedia</div>
</li> {% endcomment %}
{% comment %} 
    <div>
        <ul class="navbar-nav sm-icons">
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/cicp_pcpob/" target="_blank">
                    <img src='{% static "webpage_images/ig.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/CICP_PCPOB" target="_blank">
                    <img src='{% static "webpage_images/twitter.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/company/cicp-pcpob/?originalSubdomain=ca" target="_blank">
                    <img src='{% static "webpage_images/linkedin.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=cicp-pcpob@carleton.ca" target="_blank">
                    <img src='{% static "webpage_images/mail.png" %}'/>
                </a>
            </li>
        </ul>
</div> {% endcomment %}
