{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
    <a class="navbar-brand" href="https://carleton.ca/cicp-pcpob/">
        <img src="https://cdn.carleton.ca/theme-framework/img/favicons/favicon.ico"
             alt="Carleton Shield"
             width="30"
             height="30"
             class="d-inline-block align-text-top"/>
        CICP-PCPOB
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">
                    <button class="btn btn-dark btn-sm" type="button">
                        Report Results
                        <br />
                        Résultats du rapport
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                    <button class="btn btn-dark btn-sm" type="button" onClick="window.print();">
                        Download PDF
                        <br />
                        Télécharger le PDF
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://carleton.ca/cicp-pcpob/">
                    <button class="btn btn-dark btn-sm" type="button">
                        Back to CICP
                        <br />
                        Retour à PCPOB
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav sm-icons">
            <li class="nav-item">
                <a class="nav-link"
                   href="https://www.instagram.com/cicp_pcpob/"
                   target="_blank">
                    <img src='{% static "webpage_images/ig.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://twitter.com/CICP_PCPOB"
                   target="_blank">
                    <img src='{% static "webpage_images/twitter.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://www.linkedin.com/company/cicp-pcpob/?originalSubdomain=ca"
                   target="_blank">
                    <img src='{% static "webpage_images/linkedin.png" %}'/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=cicp-pcpob@carleton.ca"
                   target="_blank">
                    <img src='{% static "webpage_images/mail.png" %}'/>
                </a>
            </li>
        </ul>
    </div>
</nav>
