.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 300px;
}

#feature-text {
    margin-left: 8px;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: size;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/* #message {
    color: white;
}

span {
    animation: blinker 1s linear infinite;
    color: white;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.dynamic-text {
    margin-left: 1.3em;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    list-style: none;
    color: red;
    position: relative;

} */