.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 300px;
}

#message {
    color: white;
}

span {
    animation: blinker 1s linear infinite;
    color: white;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.dynamic-text {
    margin-left: 1.3em;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-text li {
    list-style: none;
    color: red;
    position: relative;

}