.cursor {
    width: 8px;
    height: 20px;
    background-color: white;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}



.shade {
    flex: 1;
    height: 400px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}


.shade form {
    margin-top: 10%;

}


.heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgb(170 159 159 / 90%);
    height: 200px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: black;
    color: white;
    margin-top: 2%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;

}


.loader-hidden {
    opacity: 0;
    visibility: hidden;

}


.loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #e91c24;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {

    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }

}

#infocard .card-body {
    background-color: #000000;
}

#infocard .card-header {
    background-color: #ea1b22;
}

#infocard .btn {
    background-color: #e91c24;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-family: Arial, sans-serif;
    padding: 2%;
}

.form-input {
    margin-top: 10%;
    margin-left: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #f2f2f2;
    color: black;
}

.flip-card-back {
    background-color: #e91c24;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dateForm #themeForm {
    display: flex;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 15%;
}