.navbar {
    background-color: #e91c24;
}

#socialMedia {
    border: none;
    cursor: pointer;
    appearance: none;
    margin-left: 110px;
}

#myDiv {
    width: 500px;
    height: min-content
}

.navbutton {
    background-color: black;
}

.navbutton.nav-link {
    color: white;
}

.dropdown-item {
    background-color: black;
    color: white;
}