@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Poppins&display=swap');

#filterText {
    background-color: #e91c24;
    color: #0f0e0e;
    display: flex;
    padding: 0.2rem;
    margin-bottom: 30px;
    margin-top: 10px;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}