@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Poppins&display=swap');

.sidebar {
    background-color: #0f0e0e;
    color: white;
    padding: 20px 20px 40px 20px;
    font-size: 15px;
    overflow-y: auto;
    font-family: Arial;
    z-index: 100; /* behind header */
}

#filterText {
    background-color: #e91c24;
    color: #0f0e0e;
    display: flex;
    padding: 0.2rem;
    margin-bottom: 30px;
    margin-top: 10px;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial;
}

input {
    margin-top: 10px;
}