.navbar-nav {
    margin-left: 22%;
}

.nav-item {
    padding-left: 50px;
}

/* Adjust the margin or padding as per your requirement */
.form-container>div {
    margin-bottom: 10px;
    /* Adds 10px space between the form elements */
}

#filtertext {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial;
    box-shadow: 0 4px 8px 0 #E91E63;
}


.overlay-content {
    position: relative;
    width: 100%;
    padding: 8px 30px 8px 25px;
    overflow-x: auto;
}

/* Button styles */
.sidebar-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#heading {
    color: #e91c24;
    padding: 1em;
    margin-top: 0.5%;
    font-family: Arial;

}

#weekheading {
    font-family: Arial;
    color: #5c5555;
}


#errorcard .card-body {
    background-color: #e91c24;
}

#errorcard .btn {
    background-color: black;
}

#errorcard .card-header {
    background-color: #000000;
}

#infocard .card-body {
    background-color: #000000;
}

#infocard .card-header {
    background-color: #ea1b22;
}

#infocard .btn {
    background-color: #e91c24;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
    float: right;
    margin: 0 auto;
}

div {
    box-sizing: border-box;
}

.images img {
    flex: 1;
    margin-bottom: 1rem;
    height: auto;
    max-height: 400px;
    width: 100%;
    object-fit: contain;

}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #e91c24;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.selected-filters {
    height: 30px;
    width: 600px;
    font-family: Arial;
    margin-left: 40%;
}

.splide__slide img {
    width: 70%;
    display: block;
    margin-left: 25%;
    margin-right: auto;
}

#dateimage {
    width: 40%;
    display: block;
    margin-left: 16%;
    margin-right: auto;

}

#datesubtheme {
    margin-left: 20%;
    margin-top: 2%;
    font-family: Arial;
    color: #5c5555;
}

.bg-red {
    background-color: #E91C24;
    color: #FFFFFF;
}

.ml-25 {
    margin-left: 20%;
}