/* * {
    box-sizing: border-box
} */

.navbar-nav {
    margin-left: 10%;
}

.nav-item {
    padding-left: 50px;
}

.sidebar {
    width: 20%;
    margin: 0;
    float: left;
    display: flex;
}

/* Button styles */
.sidebar-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    /* display: none; */
}

.heading {
    color: #e91c24;
    padding: 2em;
    margin-left: 30%;
    display: inline-block;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    float: right;
}

section {
    box-sizing: border-box;
}

.images img {
    flex: 1;
    margin-bottom: 1rem;
    height: auto;
    width: 100%;
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns */
/* .column {
    flex: 50%;
    padding: 10px;
} */



/* CSS code for extra small devices */
@media (max-width: 575.98px) {

    /* Example CSS rules for extra small devices */
    .heading {
        padding: 2em;
        margin-left: auto;
        display: inline-block;
        font-size: 16px;
        position: center;
        text-align: center;
    }

    .sidebar {
        display: none
    }

    .main-content {
        margin-left: auto;
        width: auto;
        padding: auto;
        float: right
    }

    .row {
        flex-direction: column;
    }

}

/* CSS code for small devices */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Example CSS rules for small devices */
    .heading {
        padding: 2em;
        margin-left: auto;
        display: inline-block;
        font-size: 16px;
        position: center;
        text-align: center;
    }

    .sidebar {
        display: none
    }

    .main-content {
        margin-left: auto;
        width: auto;
        padding: auto;
        float: right
    }

    .row {
        flex-direction: column;
    }



}

/* CSS code for medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Example CSS rules for medium devices */

    #sidebar-toggle {
        display: none;
    }

    .sidebar {
        width: 10%;
        margin: 0;
        float: left;
        display: flex;

    }

    .main-content {

        flex-wrap: wrap;
        width: 80%;
        padding: 10px;
        float: right;
    }

    .heading {
        padding: 2em;
        margin-left: 15%;
        display: inline-block;
        font-size: 16px;

        text-align: center;
    }

    .images img {
        flex: 1;
        margin-bottom: 1rem;
        height: auto;
        width: 100%;


    }

    .row {
        flex-direction: column;
    }

}

/* CSS code for large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Example CSS rules for large devices */
    #sidebar-toggle {
        display: none;
    }

    .heading {
        margin-left: 20%;
    }

    .row {
        display: flex;

    }

    .column {
        flex: 50%;
        padding: 10px;
        width: 100%;
    }

    .images img {
        /* flex: 1; */
        margin-bottom: 1rem;
        height: auto;
        width: 100%;
    }

}

/* CSS code for extra large devices */
@media (min-width: 1200px) {

    /* Example CSS rules for extra large devices */
    #sidebar-toggle {
        display: none;
    }

    .heading {
        margin-left: 28%;
    }

    .row {
        display: flex;

    }

    .column {
        flex: 50%;
        padding: 10px;
        width: 100%;
    }

    .images img {
        /* flex: 1; */
        margin-bottom: 1rem;
        height: auto;
        width: 100%;
    }
}